

/* Overwrite .card class properties */

.card {
    border-radius: 0 !important;
}

.card-body {
    padding: 0 !important;
}

/* Main app styles*/

#reset, #undo, #redo {
    cursor: pointer;
}
    
