<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chessboard JS</title>
    <!-- CSS file -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/chessboard-0.3.0.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/fontawesome.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css')}}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExample10"
        aria-controls="navbarsExample10"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-md-center"
        id="navbarsExample10"
      >
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >ChessboardJS with Flask<span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card-group">
            <div class="card text-white bg-dark">
              <div class="card-header">
                <span class="text-muted">Player 2</span>
                <span class="game-over"></span>
                <span style="float: right;">Time</span>
              </div>
              <div class="card-body">
                <div id="board" style="width: 69%;"></div>
                <div class="card-footer">
                  <span class="text-muted">Player 1 </span>
                  <span class="game-over"></span>
                </div>
              </div>
            </div>
            <div class="card text-white bg-dark">
              <div class="card-header">
                <span>Moves</span>
              </div>
              <div class="card-body" id="game-moves">
                <table
                  class="table table-striped table-sm table-dark table-hover"
                >
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col" class="active">White</th>
                      <th scope="col">Black</th>
                    </tr>
                  </thead>
                  <tbody id="pgn-moves">
                    <!-- PGN Table data -->
                  </tbody>
                </table>
                <div class="card-footer">
                  <span class="text-muted">Analysis</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/chessboard-0.3.0.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <script src="{{ url_for('static', filename='js/app.js')}}"></script>
    <script>
      var cfg = {
        position: '{{ fen }}',
        showNotation: true,
        draggable: true,
        onDragStart: onDragStart,
        onDrop: onDrop
      };
      var board = ChessBoard('board', cfg);
    </script>
  </body>
</html>
