<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chessboard JS</title>
    <!-- CSS file -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/chessboard-0.3.0.min.css">
    <link rel="stylesheet" href="static/css/fontawesome.css">
    <style>
        .card {
            border-radius: 0 !important;
        }
        .card-body {
            padding: 0 !important;
            padding-left: 2px !important;
        }
    </style>

</head>
<body>
    <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">ChessboardJS with Flask<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" id="reset">Reset</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="https://omega-coder.me" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="dropdown10">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-6">
			<div class="card text-white bg-dark mb-3" style='width: 69%;'>
				<div class="card-header">Player2</div>
				<div class="card-body">
				<div id="board"></div>
                <div class="card-footer">
                    <span class="text-muted">Player 1 </span> <i class='fas fa-step-backward' id="undo"></i>
                </div>
			</div>
			</div>
            </div>
            <div class="col-md-2">
                <p id="pgn">{{ pgn }}</p>
            </div>
        </div>
    </div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/chessboard-0.3.0.min.js" ></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script type='text/javascript'>
    var board = ChessBoard('board', {
        position: '{{ fen }}',
        showNotation: true,
        draggable: true,
        onDrop: onDrop
    });

  function onDrop(source, target, piece) {
  var pn = piece.includes('b') ? piece.toUpperCase().substring(1, 2) : piece.substring(1, 2);
  pn = piece.includes('P') ? '' : pn;
  var move = piece.includes("P") ? source + target : pn  + source.substring(0, 1) + target;
  move = piece.includes("P") && target.includes("8") ? target.substring(0, 1) + "8Q" : move; // pawn promotion

  $.get('/move', {'move': move}, function(data) {
    console.log(data);
      document.querySelector("#pgn").innerText = data.pgn;
      board.position(data.fen);
    });
  };

    $("#reset").click(function() {
        $.get('/reset', function(data) {
            board.position(data.fen);
            document.querySelector("#pgn").innerText = data.pgn;
        });
    }); 

    $("#undo").click(function() {
        $.get("/undo", function(data) {
            board.position(data.fen);
            document.querySelector('#pgn').innerText = data.pgn;
        });
    });

</script>
</body>
</html>


